body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #FCFBFA;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
}

.text {
    font-size: 20px; 
    color: #333; 
    font-family: 'Arial', sans-serif; 
    margin-bottom: 10px; 
}

.second-text {
    font-size: 20px; 
    color: #333; 
    font-family: 'Arial', sans-serif; 
    margin-bottom: 10px; 
}

.third-text {
    font-size: 20px; 
    color: #333; 
    font-family: 'Arial', sans-serif; 
    margin-bottom: 10px; 
}

.character {
    position: relative;
    left: 70px;
    top: 50px;
    display: none;
    flex-direction: column;
    align-items: center;
}

.bonhomme {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;  
    height: 500px;
}


.kiss {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    font-size: 40px;
    color: rgb(249, 60, 46);
    display: none;
    font-family: 'Bubblegum Sans', cursive; 
    animation: bounce 1s infinite; 
}


.show-button {
    padding: 10px 20px;
    font-size: 20px;
    background-color: #ff69b4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Bubblegum Sans', cursive;
    margin-bottom: 20px;
}

.show-button:first-child {
    display:inline-block;
    background-color: #ff1493;
}



/* définition de l'animation */
@keyframes sweep {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    50% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(100%);
}
}